.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288); /* Oscurecimiento elegante */
    z-index: 5;
    display: none;
  }

  /* Aparece cuando se activa el menú */
.overlay.active {
    display: block;
  }

.LogoUNAM-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

.btn-purple {
    background-color: #6f42c1;
    color: white;
    border-color: #6f42c1;
  }

.btn-purple:hover {
    background-color: #5a3791;
  }

.btn-pink {
    background-color: #c142ac;
    color: white;
    border-color: #c14290;
  }

.btn-pink:hover {
    background-color: #913773;
  }

p {
    color: white;
  }

.navbar {
    background-image: linear-gradient(to right, #6b3f0c, #7a7419);
    padding: 10px 20px;
    position: relative;
  }

.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 2;
    position: relative;
  }

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0; 
    width: 220px;
    height: 100vh;
    overflow-y: auto; /* ¡permite desplazamiento vertical! */
    overscroll-behavior: contain; /* evita efectos feos en móviles */
    -webkit-overflow-scrolling: touch; /* scroll suave en iOS */
    background-color: #333;

    transform: translateX(-100%); 
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    padding-top: 60px;

    z-index: 10;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 2px 0 6px rgba(0,0,0,0.4); 
  }

.nav-links.show {
    transform: translateX(0); 
    opacity: 1;
    pointer-events: auto;
  }

.nav-links li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }

.azul {
    background-image: linear-gradient(to right, #4b6cff, #19237a);
  }
.azul:hover{
    background-image: linear-gradient(to right, #2c3f96, #0e1341);
  }

.cyan {
    background-image: linear-gradient(to right, #00cad8, #053b3d);
  }
.cyan:hover{
    background-image: linear-gradient(to right, #0fa59e, #002b2b);
  }

.cafe {
    background-image: linear-gradient(to right, #ff8827, #6d4307);
  }
.cafe:hover{
    background-image: linear-gradient(to right, #ad6500, #301f00);
  }

.rosa {
    background-image: linear-gradient(to right, #ff79c7, #910071);
  }
.rosa:hover{
    background-image: linear-gradient(to right, #880071, #3b0025);
  }

.verde {
    background-image: linear-gradient(to right, #69ff4b, #217a19);
  }
.verde:hover{
    background-image: linear-gradient(to right, #2c962c, #12410e);
  }

.morado {
    background-image: linear-gradient(to right, #cc4bff, #5e197a);
  }
.morado:hover{
    background-image: linear-gradient(to right, #7d2c96, #330e41);
  }

.verdecl {
    background-image: linear-gradient(to right, #ff848e, #99001a);
  }
.verdecl:hover{
    background-image: linear-gradient(to right, #ce0924, #2b0009);
  }

.amarillo {
    background-image: linear-gradient(to right, #d8ca00, #797100);
  }
.amarillo:hover{
    background-image: linear-gradient(to right, #b19913, #343500);
  }

.fresita {
    background-image: linear-gradient(to right, #ff006a, #7c0034);
  }
.fresita:hover{
    background-image: linear-gradient(to right, #ac0048, #300014);
  }

    /* Responsividad para orientación vertical */
  @media (orientation: portrait) {
    .hotspot-btn {
      position: absolute;
      transform: translate(-50%, -50%);
      padding: .25px .5px;
      font-size: 2px;
    }

    .Mapi-img {
      position: absolute;
      top: 0vh;
      left: 29vw;
      width: 42vw;
      max-width: 200px;
    }

    .LogoUNAM-img {
      position: absolute;
      width: 11vw;
      max-width: 45px;  
    }

    .fesc-enlace {
      position: absolute;
      top: 0.5vh;
      left: 88vw;
      width: 11vw;
      max-width: 50px;
      min-width: 10px;
      z-index: 10;
      display: block;
    }

    .croquis-container {
      position: relative;
      width: 100%;
      height: 70vh;
      max-width: 1600px; 
      margin: auto;
      overflow: hidden;
    }

    .croquis-img {
      width: 100%;
      display: block;
    }

    #btn1 { bottom: 25%; left: 50%; }
    #btn2 { bottom: 35%; left: 50%; }
    #btn3 { bottom: 45%; left: 50%; }
  }

  /* Responsividad para orientación horizontal */
@media (orientation: landscape) {
    .hotspot-btn {
      position: absolute;
      transform: translate(-50%, -50%);
      padding: 1px 2px;
      font-size: 5px;
    }

    .Mapi-img {
      position: absolute;
      top: 0vh;
      left: 42vw;
      width: 20vw;
      max-width: 200px;
    }

    .LogoUNAM-img {
      position: absolute;
      width: 8vw;
      max-width: 45px;  
    }

    .fesc-enlace {
      position: absolute;
      top: 0.5vh;
      left: 93vw;
      width: 20vw;
      max-width: 50px;
      min-width: 10px;
      z-index: 10;
      display: block;
    }

    .croquis-container {
      position: relative;
      width: 100%;
      height: 80vh;
      max-width: 1400px; 
      margin: auto;
      overflow: hidden;
    }

    .croquis-img {
      width: 100%;
      display: block;
    }

    #btn1 { bottom: 18%; left: 50%; }
    #btn2 { bottom: 28%; left: 55%; }
    #btn3 { bottom: 37%; left: 51%; }
  }