.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288); /* Oscurecimiento elegante */
    z-index: 5;
    display: none;
  }

  /* Aparece cuando se activa el menú */
.overlay.active {
    display: block;
  }

.LogoUNAM-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

.btn-purple {
    background-color: #6f42c1;
    color: white;
    border-color: #6f42c1;
  }

.btn-purple:hover {
    background-color: #5a3791;
  }

.btn-pink {
    background-color: #dd3999;
    color: white;
    border-color: #c03385;
  }

.btn-pink:hover {
    background-color: #a72a73;
  }

.btn-orange {
    background-color: #ff7300;
    color: white;
    border-color: #d86100;
  }

.btn-orange:hover {
    background-color: #c95a00;
  }

.btn-fresa {
    background-color: #ff006a;
    color: white;
    border-color: #b1004a;
  }

.btn-fresa:hover {
    background-color: #8f003c;
  }

p {
    color: white;
  }

.navbar {
    background-image: linear-gradient(to right, #6b3f0c, #7a7419);
    padding: 10px 20px;
    position: relative;
  }

.hamburger {
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 2;
    position: relative;
  }

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0; 
    width: 220px;
    height: 100vh;
    overflow-y: auto; /* ¡permite desplazamiento vertical! */
    overscroll-behavior: contain; /* evita efectos feos en móviles */
    -webkit-overflow-scrolling: touch; /* scroll suave en iOS */
    background-color: #333;

    transform: translateX(-100%); 
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    padding-top: 60px;

    z-index: 10;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 2px 0 6px rgba(0,0,0,0.4); 
  }

.nav-links.show {
    transform: translateX(0); 
    opacity: 1;
    pointer-events: auto;
  }

.nav-links li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }

.azul {
    background-image: linear-gradient(to right, #4b6cff, #19237a);
  }
.azul:hover{
    background-image: linear-gradient(to right, #2c3f96, #0e1341);
  }

.cyan {
    background-image: linear-gradient(to right, #00cad8, #053b3d);
  }
.cyan:hover{
    background-image: linear-gradient(to right, #0fa59e, #002b2b);
  }

.cafe {
    background-image: linear-gradient(to right, #ff8827, #6d4307);
  }
.cafe:hover{
    background-image: linear-gradient(to right, #ad6500, #301f00);
  }

.rosa {
    background-image: linear-gradient(to right, #ff79c7, #910071);
  }
.rosa:hover{
    background-image: linear-gradient(to right, #880071, #3b0025);
  }

.verde {
    background-image: linear-gradient(to right, #69ff4b, #217a19);
  }
.verde:hover{
    background-image: linear-gradient(to right, #2c962c, #12410e);
  }

.morado {
    background-image: linear-gradient(to right, #cc4bff, #5e197a);
  }
.morado:hover{
    background-image: linear-gradient(to right, #7d2c96, #330e41);
  }

.verdecl {
    background-image: linear-gradient(to right, #ff3288, #99001a);
  }
.verdecl:hover{
    background-image: linear-gradient(to right, #ce0924, #2b0009);
  }

.amarillo {
    background-image: linear-gradient(to right, #d8ca00, #797100);
  }
.amarillo:hover{
    background-image: linear-gradient(to right, #b19913, #343500);
  }

.fresita {
    background-image: linear-gradient(to right, #ff0000, #7c0000);
  }
.fresita:hover{
    background-image: linear-gradient(to right, #ac0000, #300000);
  }

  #zoomArea {
    font-size: 14px; /* base */
  }

  .hotspot-btn {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%) scale(var(--hotspot-scale));
    transform-origin: center;
    z-index: 10;
    pointer-events: auto;
  }
  
  /* Estilo del texto emergente */
  .hotspot-btn::after {
    content: attr(data-label);
    position: absolute;
    bottom: 125%; /* por encima del punto */
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.2s ease;
  }
  
  /* Mostrar el texto al pasar el mouse */
  .hotspot-btn:hover::after,
  .hotspot-btn:focus::after {
    opacity: 1;
  }
  
    /* Responsividad para orientación vertical */
  @media (orientation: portrait) {
    .Mapi-img {
      position: absolute;
      top: 0vh;
      left: 29vw;
      width: 42vw;
      max-width: 200px;
    }

    .LogoUNAM-img {
      position: absolute;
      width: 11vw;
      max-width: 45px;  
    }

    .fesc-enlace {
      position: absolute;
      top: 0.5vh;
      left: 88vw;
      width: 11vw;
      max-width: 50px;
      min-width: 10px;
      z-index: 10;
      display: block;
    }

    .croquis-container {
      position: relative;
      width: 100%;
      height: 70vh;
      max-width: 1600px; 
      margin: auto;
      overflow: hidden;
    }

    .croquis-img {
      width: 100%;
      display: block;
    }

    #btn1 { bottom: 12.5%; left: 35%; }
    #btn2 { bottom: 22.5%; left: 40%; }
    #btn3 { bottom: 33%; left: 39%; }
    #btn4 { bottom: 31%; left: 41%; }
    #btn5 { bottom: 36.5%; left: 40%; }
    #btn6 { bottom: 37.5%; left: 47%; }
    #btn7 { bottom: 40%; left: 46%; }
    #btn8 { bottom: 46.5%; left: 46%; }
    #btn9 { bottom: 52.5%; left: 47%; }
    #btn10 { bottom: 59.5%; left: 46.5%; }
    #btn11 { bottom: 56.5%; left: 49%; }
    #btn12 { bottom: 63%; left: 46.5%; }
    #btn13 { bottom: 63.5%; left: 43%; }
    #btn14 { bottom: 70.5%; left: 42.5%; }
    #btn15 { bottom: 61.5%; left: 38%; }
    #btn16 { bottom: 66.5%; left: 38%; }
    #btn17 { bottom: 59.5%; left: 32.5%; }
    #btn18 { bottom: 63.5%; left: 32.5%; }
    #btn19 { bottom: 67.5%; left: 47.7%; }
    #btn20 { bottom: 67.5%; left: 59%; }
    #btn21 { bottom: 61.5%; left: 59%; }
    #btn22 { bottom: 45.5%; left: 60.5%; }
    #btn23 { bottom: 47.5%; left: 60.5%; }
    #btn24 { bottom: 44.5%; left: 64%; }
    #btn25 { bottom: 46%; left: 67%; }
    #btn26 { bottom: 39.5%; left: 65%; }
    #btn27 { bottom: 36.5%; left: 60%; }
    #btn28 { bottom: 55.5%; left: 71%; }
    #btn29 { bottom: 56%; left: 78%; }
    #btn30 { bottom: 67%; left: 80%; }
    #btn31 { bottom: 74.5%; left: 93%; }
    #btn32 { bottom: 75.5%; left: 81%; }
    #btn33 { bottom: 68.5%; left: 84%; }
    #btn34 { bottom: 48.5%; left: 78%; }
    #btn35 { bottom: 48.5%; left: 85%; }
    #btn36 { bottom: 40.5%; left: 85%; }
    #btn37 { bottom: 44.5%; left: 85%; }
    #btn38 { bottom: 45.5%; left: 81%; }
    #btn39 { bottom: 46%; left: 77%; }
    #btn40 { bottom: 40.5%; left: 77%; }
    #btn41 { bottom: 78.5%; left: 88%; }
    #btn42 { bottom: 56.5%; left: 27%; }
    #btn43 { bottom: 64.5%; left: 22%; }
    #btn44 { bottom: 55.5%; left: 22%; }
    #btn45 { bottom: 37.5%; left: 43.5%; }
    #btn46 { bottom: 35%; left: 49%; }
    #btn47 { bottom: 29%; left: 46%; }
    #btn48 { bottom: 43.5%; left: 53.5%; }
    #btn49 { bottom: 38.5%; left: 25%; }
    #btn50 { bottom: 45.5%; left: 27%; }
    #btn51 { bottom: 54.5%; left: 36%; }
    #btn52 { bottom: 49%; left: 54%; }
    #btn53 { bottom: 52.5%; left: 54.5%; }
    #btn54 { bottom: 50.5%; left: 50%; }
    #btn55 { bottom: 53.5%; left: 40%; }
    #btn56 { bottom: 53.5%; left: 32.3%; }
    #btn57 { bottom: 50%; left: 44%; }
    #btn58 { bottom: 41.5%; left: 49%; }
    #btn59 { bottom: 38%; left: 50%; }
    #btn60 { bottom: 48.5%; left: 51%; }
    #btn61 { bottom: 47%; left: 32.1%; }
    #btn62 { bottom: 32.5%; left: 47%; }

  }

  /* Responsividad para orientación horizontal */
@media (orientation: landscape) {
    .Mapi-img {
      position: absolute;
      top: 0vh;
      left: 42vw;
      width: 20vw;
      max-width: 200px;
    }

    .LogoUNAM-img {
      position: absolute;
      width: 8vw;
      max-width: 45px;  
    }

    .fesc-enlace {
      position: absolute;
      top: 0.5vh;
      left: 93vw;
      width: 20vw;
      max-width: 50px;
      min-width: 10px;
      z-index: 10;
      display: block;
    }

    .croquis-container {
      position: relative;
      width: 100%;
      height: 80vh;
      max-width: 1400px; 
      margin: auto;
      overflow: hidden;
    }

    .croquis-img {
      width: 100%;
      display: block;
    }

    #btn1 { bottom: 17%; left: 35%; }
    #btn2 { bottom: 27%; left: 40%; }
    #btn3 { bottom: 37.5%; left: 39%; }
    #btn4 { bottom: 35.5%; left: 41%; }
    #btn5 { bottom: 41%; left: 40%; }
    #btn6 { bottom: 42%; left: 47%; }
    #btn7 { bottom: 44.5%; left: 46%; }
    #btn8 { bottom: 51%; left: 46%; }
    #btn9 { bottom: 56%; left: 47%; }
    #btn10 { bottom: 64%; left: 46.5%; }
    #btn11 { bottom: 61%; left: 49%; }
    #btn12 { bottom: 67.5%; left: 46.5%; }
    #btn13 { bottom: 68%; left: 43%; }
    #btn14 { bottom: 75%; left: 42.5%; }
    #btn15 { bottom: 66%; left: 38%; }
    #btn16 { bottom: 71%; left: 38%; }
    #btn17 { bottom: 64%; left: 32.5%; }
    #btn18 { bottom: 68%; left: 32.5%; }
    #btn19 { bottom: 72%; left: 47.7%; }
    #btn20 { bottom: 72%; left: 59%; }
    #btn21 { bottom: 66%; left: 59%; }
    #btn22 { bottom: 50%; left: 60.5%; }
    #btn23 { bottom: 52%; left: 60.5%; }
    #btn24 { bottom: 49%; left: 64%; }
    #btn25 { bottom: 50.5%; left: 67%; }
    #btn26 { bottom: 44%; left: 65%; }
    #btn27 { bottom: 41%; left: 60%; }
    #btn28 { bottom: 60%; left: 71%; }
    #btn29 { bottom: 60.5%; left: 78%; }
    #btn30 { bottom: 71.5%; left: 80%; }
    #btn31 { bottom: 77%; left: 93%; }
    #btn32 { bottom: 80%; left: 81%; }
    #btn33 { bottom: 73%; left: 84%; }
    #btn34 { bottom: 53%; left: 78%; }
    #btn35 { bottom: 53%; left: 85%; }
    #btn36 { bottom: 45%; left: 85%; }
    #btn37 { bottom: 49%; left: 85%; }
    #btn38 { bottom: 52%; left: 81%; }
    #btn39 { bottom: 50.5%; left: 77%; }
    #btn40 { bottom: 45%; left: 77%; }
    #btn41 { bottom: 83%; left: 88%; }
    #btn42 { bottom: 61%; left: 27%; }
    #btn43 { bottom: 69%; left: 22%; }
    #btn44 { bottom: 60%; left: 22%; }
    #btn45 { bottom: 42%; left: 43.5%; }
    #btn46 { bottom: 39.5%; left: 49%; }
    #btn47 { bottom: 33.5%; left: 46%; }
    #btn48 { bottom: 48%; left: 53.5%; }
    #btn49 { bottom: 43%; left: 25%; }
    #btn50 { bottom: 50%; left: 27%; }
    #btn51 { bottom: 59%; left: 36%; }
    #btn52 { bottom: 53.5%; left: 54%; }
    #btn53 { bottom: 59%; left: 54.5%; }
    #btn54 { bottom: 57%; left: 50%; }
    #btn55 { bottom: 58%; left: 40%; }
    #btn56 { bottom: 58%; left: 32.3%; }
    #btn57 { bottom: 54.5%; left: 44%; }
    #btn58 { bottom: 46%; left: 49%; }
    #btn59 { bottom: 42.5%; left: 50%; }
    #btn60 { bottom: 53%; left: 51%; }
    #btn61 { bottom: 51.5%; left: 32.1%; }
    #btn62 { bottom: 37%; left: 47%; }
  }
